

.nopadding {
	
	padding-right: 0 !important;
	padding-left: 0 !important;
	margin: 0 !important;

}


.black {
	background-color:#edeae6;
	overflow: hidden;
}
.grey {
	background-color: #f6f1f1;
	overflow: hidden;


}
.cover{

	background-image: url("../img/Awesome_lores_3.jpg");
	background-size: cover;
	background-position: bottom center;
	max-width: 100%;
	max-height: auto;
	

}
.icon{
	
	padding-left: 70px;
	
}
.contact{
	background-color: #232121;
	padding-top:26px;
	padding-bottom:26px; 

	

}

.email{
	color:#d9b05e;
	padding-top: 50px;
	padding-left: 12px;
	
	vertical-align: center;

}
.linkedin{
	color:#b56129;
	padding-top: 10px;
	padding-left: 12px;
	

}

.phone{
	color:#988447;
	
	padding-left: 12px;
}
.phonediv{
	padding-top: 10px;
}
.resp{

	max-width: 100%;
}
.divheader{
	font-family:'Raleway', sans-serif;
	font-size: 3em;
	color:white;
	background-color: #232121;
	padding-top:70px;
	padding-bottom:70px;
	text-align: center;



}
.divh2{
	color:#d6c7ab;
	padding-top: 25px;
}

h1{
	font-family:'Raleway', sans-serif;
	color:#232121;
	margin-left:80px;
	margin-right: 80px;
	padding-top: 60px;
	letter-spacing: 0.15em;
}
h2{
	font-family:'Raleway', sans-serif;
	margin-left:80px;
	margin-right: 80px;
	letter-spacing: 0.2em;
	margin-top: -5px;
	color:#b56129;
	font-size:16px;
	font-weight: bold;
	line-height: 1.5em;

}
p {

	margin-left:80px;
	margin-right: 80px;
	padding-top: 1.7em;
	color:#7c7a7a;

	
}


a:link {
    text-decoration: none;
     
}
a:visited {
   color:#b56129;
   }

a:hover{
	color:white;
}


body {
	
	font-family: 'Lato', sans-serif;
	font-size:16px;
	line-height: 1.65em;

}

.contact-text{
	color:black;
	letter-spacing: 0.2em;
	padding-top: 40px;
	
}

.personal {
color:black;
font-size: 5.5em;
padding-bottom:5px;
padding-top: 100px;
letter-spacing: 0em;
line-height: 0.93em;

}
.jobtitle{
	font-size:1.3em;
	padding-bottom:290px;
}


.anchor{
padding-left: 150px;

}

@media screen and (max-width: 1199px) {
        p {
    
    margin-left:40px;
	margin-right: 40px;
    font-size:15px;
    line-height: 1.6em;
    
    }

    h1{
    	font-size:32px;
    	padding-top: 30px;
    	margin-left: 40px;
    	
    }
    h2{
    	margin-left: 40px;
    	font-size:15px;
    }
    .personal{
    	font-size:3.5em;
    	padding-top: 70px;
    	padding-bottom: 3px;
    }
    .jobtitle{
    	font-size: 1.2em;
    }
}

@media screen and (max-width: 992px){
	.col-md-4 {
		padding-bottom: 50px;
		
	}
	

}

@media screen and (max-width:692px){
	.cover{
		background-repeat: no-repeat;
		background-image: url("../img/Lauri_Mobile_version.jpg");
		background-size: 100%;
	    width: 100%; 
	 
	    background-position: center;
	   
		
	}

.personal {
	padding-top: 20px;
margin-left: 70px;
font-size: 44px;
letter-spacing: 0em;

}
.jobtitle{
	margin-left: 70px;
	font-size: 14px;
}
.contact-colmn{
	padding-top: 20px;


}

}